/* line 2, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.btn {
  border-radius: 0.1rem !important;
}
/* line 5, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.btn:hover:disabled {
  color: #050805;
}

/* line 11, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.form-control.boxed.faq {
  box-shadow: inset -0.5px -0.5px 3px rgba(0, 0, 0, 0.6);
}

/* line 15, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.form-control {
  border-radius: 0.1rem !important;
}
/* line 17, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.form-control:focus {
  box-shadow: none;
}

/* line 22, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.underlined-danger {
  border: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #CC2222 !important;
}

/* line 28, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
label.hidden {
  display: none;
}

/* line 32, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
[type="search"] {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 35px;
  font-size: 16px;
  border: none !important;
  background-color: transparent !important;
}
/* line 41, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
[type="search"] + label {
  position: absolute;
  top: 10px;
  left: 3px;
  font-size: 16px;
  color: #999999;
  transition: all 0.2s ease-out;
}
/* line 50, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
[type="search"]:focus {
  outline: none;
  border-radius: 0.1rem !important;
  border-bottom: 1px solid #999999;
  border-width: 2px;
  background-color: white !important;
  transition: all 0.2s ease-out;
}
/* line 59, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
[type="search"].has-value + label, [type="search"]:focus + label {
  top: -17px;
  color: #666666;
  font-size: 12px;
}
/* line 66, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
[type="search"].has-value {
  background-color: white !important;
}
/* line 70, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
[type="search"].has-value:not(:focus) + label {
  color: #999999;
}

/* line 75, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
li.active > a {
  color: #252c33 !important;
}

/* line 80, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
td.user {
  vertical-align: middle;
  text-align: center;
}

/* line 89, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
tr:nth-of-type(even) td.user-role .form-control {
  background-color: rgba(0, 0, 0, 0.025) !important;
}
/* line 96, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
tr:nth-of-type(even):hover td.user-role .form-control {
  background-color: white !important;
  transition: background-color 0s;
}
/* line 106, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
tr:nth-of-type(odd) td.user-role .form-control {
  background-color: white !important;
}

/* line 113, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.title-block {
  padding-bottom: 0;
  margin-bottom: 0.8rem;
}

/* line 118, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.create-new {
  display: inline-block;
  padding-top: 1rem;
}

/* line 123, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
hr.under-header {
  margin-top: 5em;
}

/* line 128, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.digg_pagination {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

/* line 134, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.pagination {
  min-width: 1.5rem;
}
/* line 137, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.pagination a {
  color: gray;
  text-decoration: none;
}
/* line 142, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.pagination .current {
  text-align: center;
  color: white;
  background-color: #3a4651 !important;
}
/* line 148, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.pagination span {
  min-width: inherit;
  color: #ddd !important;
  border: 1px solid #ddd;
}

/* line 155, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.pagination a,
em {
  padding: 0 0.1rem;
  font-style: normal;
  margin: 1px;
}

/* line 162, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.pagination a,
em ~ a {
  border: 1px solid gray;
}

/* line 167, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.next_page,
.next_page_disabled,
.previous_page,
.previous_page_disabled {
  border: 1px solid gray;
}

/* line 175, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
table.table {
  margin-top: 1rem;
}

/* line 180, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

/* line 186, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.display-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1;
}

/* line 194, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.modal-body .form-control {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
/* line 197, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.modal-body .form-control:active {
  box-shadow: inherit !important;
}

/* line 205, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
#error_explanation {
  border: 2px solid rgba(120, 120, 120, 0.1);
  min-height: 50px;
  background-color: #e0e0e0;
  width: 100%;
}
/* line 211, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
#error_explanation h2 {
  background-color: inherit;
  color: red;
}
/* line 216, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
#error_explanation ul {
  list-style: none !important;
}
/* line 220, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
#error_explanation li {
  list-style-type: none !important;
}

/* line 225, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
label {
  margin-bottom: 0;
}

/* line 229, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.field_with_errors {
  background-color: inherit;
}
/* line 232, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.field_with_errors label {
  color: red;
}
/* line 236, /home/mgfzemor/Desktop/PIUBS/app/assets/stylesheets/main.scss */
.field_with_errors input {
  border: 2px solid red !important;
}
