<%= form_tag({:class => 'form-inline'}) do %>
<div class="form-group" style="max-width: 850px">
  <%= label_tag :search_field %>
  <%= text_field_tag :search_field, "", class: 'form-control boxed'%>
  <%= submit_tag 'Search', type: 'button', id: 'search_button', class: "btn btn-secondary btn-sm"%>

  <div class="" id="table"></div>
</div>

<script>
  let textField = document.getElementById('search_field');
  let button = document.getElementById('search_button');
  let tableDiv = document.getElementById('table');

  button.addEventListener('click', () => {
    console.log(textField.value.length)
    if (textField.value.length > 3) {
      jQuery.ajax({
        url: '/answers/query/' + textField.value,
        type: "GET",
        dataType: "json",
        success: data => {
          console.log(data);
          if (data.length > 0) {

            //Create a HTML Table element.
            const table = document.createElement("table");
            table.border = "1";

            //Add the header row.
            let row = table.insertRow(-1);
            for (let header of["Question", "Answer", "Actions"])
              row.appendChild(document.createElement("TH")).innerHTML = header;

            //Add the data rows.
            for (let entry of data) {
              let row = table.insertRow(-1);
              row.insertCell(-1).innerHTML = entry.question;
              row.insertCell(-1).innerHTML = entry.answer;
              row.insertCell(-1).innerHTML = '<button onclick="faq_click(this)" type="button" class="btn btn-primary btn-sm">Select</button>'
            }

            //Add the table in the DOM
            tableDiv.innerHTML = "";
            tableDiv.appendChild(table);

          } else if (textField != 0) {
            tableDiv.innerHTML = "Não há questões no FAQ sobre essa pergunta"
          }
        }
      })
    } else {
      tableDiv.innerHTML = "Você precisa fazer uma pesquisa com no mínimo 4 letras";
    }
  });

  const faq_click = button => {
    const answer = button.parentNode.parentNode.children[1].innerHTML;
    $("#reply_box").show(200);
    $("#faq_box").hide(200);
    tinyMCE.get(0).setContent(answer);
    //$("#tinymce").innerHTML = answer;
  }
</script>
<% end %>
