<div class="container">

  <h3>Usuários</h3>

  <%= form_for resource, :as => resource_name do |f| %>
  <%= devise_error_messages! %>

      <div class="row">
        <div class="col">
          <table class="table table-bordered table-striped table-hover table-users">
            <thead class="thead-dark">
              <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Último login</th>
                <th>Status</th>
                <th colspan="2"></th>
              </tr>
            </thead>
              <tbody>
                <% @users.order(invitation_accepted_at: :asc, invitation_created_at: :desc).each do |user| %>
                  <tr>
                    <% if user.invited_by_id == current_user.id || current_user.try(:admin?) %>
                      <%= render user %>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    <% end %>
  </div>
