<div class="container">

  <h3>Usuários</h3>

  <div class="create-new">
  <%= link_to 'Convidar novo usuário', new_user_invitation_path, class: 'btn btn-primary' %>
  </div>

  <%= form_for resource, :as => resource_name do |f| %>
  <%= devise_error_messages! %>

      <div class="row">
        <div class="col">
          <table class="table table-bordered table-striped table-hover table-users">
            <thead class="thead-dark">
              <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <% if current_user.try(:admin?) %>
                  <th>Perfil</th>
                <% else %>
                  <th>Último login</th>
                <% end %>
                <th>Status</th>
                <th colspan="2"></th>
              </tr>
            </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <%= render user %>
                  </tr>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>

    <% end %>
  </div>
