<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <!--banner-->
  <section id="banner" class="banner">
    <div class="bg-color">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
              <a class="navbar-brand" href="#"><img src="assets/icons/digisus.png"></img></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#banner">Home</a></li>
                <li class=""><a href="#service">Serviços</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="banner-info">
            <div class="banner-logo text-center">

            </div>
            <div class="banner-text text-center">
              <h1 class="white">PIUBS</h1>
              <p>Programa de Informatização das Unidades Básicas de Saúde</p>
              <%= link_to 'Apoio à empresas', apoio_root_path, class: 'btn btn-appoint btn-lg'%>
              <%= link_to 'Solução de Controvérsias', controversias_root_path, class: 'btn btn-appoint btn-lg'%>
            </div>
            <div class="overlay-detail text-center">
              <a href="#service"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ banner-->

  <!--service-->
  <section id="service" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2 class="ser-title">nossos serviços</h2>
          <hr class="botm-line">
        <p>No Portal piubs.inf.ufrgs.br você pode acessar os serviços de <b>Apoio a Empreas</b> e <b>Solução de Controvérsias</b></p>
        </div>
        <div class="col-md-8 col-sm-8">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-building"></i>
            </div>
            <div class="icon-info">
              <h4>Apoio à empresas</h4>
              <p>Aqui, você, empresa que coopera com o PIUBS, pode tirar suas dúvidas referentes a qualquer problema ocorrido durante a instalação, manutenção e/ou atualização de qualquer produto relacionado ao PIUBS.</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-ambulance"></i>
            </div>
            <div class="icon-info">
              <h4><i>EM BREVE</i> - Solução de controvérsias </h4>
              <p>Em breve esse portal também oferecerá o serviço responsável por solucionar qualquer possível controvérsia que ocorrer entre a empresa e a UBS/Administração municipal.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ service-->
  <!--footer-->
  <footer id="footer">
    <div class="footer-line">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            © Copyright PIUBS. All Rights Reserved <br/>
            <a href="http://www.brasil.gov.br/">Governo Federal</a> | <a href="http://www.ufrgs.br">UFRGS</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
