<%= content_for :body_title do%>
<h4 class="display-5">FAQ</h4>
<%end%>

<div class="float-right" style="display: inline-block !important">
<form role="search">
  <div class="input-group" style="margin: 0">
    <input id="answer-form" class="form-control mr-sm-2" type="search" aria-label="Search">
    <label>
      <i class="fa fa-search"></i>
      &nbsp;FAQ
    </label>
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
  </div>
</form>
</div>
<div class="float-left create-new">
<%= link_to 'Cadastrar nova questão', new_answer_path, class: 'btn btn-primary' %>
</div>
<hr class="under-header"/>

<% if @answers.length > 0 %>
  <div id="accordion" class="accordion-faq">
    <div id="my-answers">
      <%= render @answers %>
    </div>
  </div>

  <div id="infinite-scrolling">
    <%= will_paginate @answers %>
  </div>
<% else %>
  <h3>
    Não há perguntas no FAQ
  </h3>
<% end %>
<hr/>

<script>
$('document').ready(function () {

  $('#answer-form').on('focusout', function () {
    changeState($(this));
  });

  function changeState(form) {
    if (form.val().length > 0) {
      form.addClass('has-value');
    } else {
      form.removeClass('has-value');
    }
  }

  $('[data-toggle=collapse]').on('click', e => {
    $('[data-toggle=collapse]').trigger('reset');
    console.log($(e.target));
    try {
      $(e.target).toggleClass('rotate');
      $(e.target.children[0]).toggleClass('rotate');
    } catch {

    }
  });

  $('[data-toggle=collapse]').on('reset', e => {
    $(e.target.children[0].children[0]).removeClass('rotate');
  });

});
</script>
