<link href="https://fonts.googleapis.com/css?family=Staatliches|Oswald" rel="stylesheet">
<style>
  .error_title {
    font-family: 'Staatliches', cursive;
  }

  .error_title > p {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 2rem;
  }

  small {
    font-size: 1rem;
  }

  .image {
    padding-top: 5rem;
  }
</style>

<div class="row">
  <div class="error_container col-md-8">
    <div class="error_title">
      <h1>Oops!!</h1>
      <br/>
      <h3> Má requisição! </h3>
      <small>Error code: <%= @_status %></small>
      <br/>
      <p>
        O serviço recebeu uma requisição incompleta. <br/>
        Certifique-se de que está enviando todos os dados solicitados. <br/><br/>

        Se você acha que está tudo certo, e não deveria estar vendo essa mensagem, <br>
        por favor, contate o administrador do sistema.
      </p>
    </div>
  </div>
  <div class="image col-md-4">
    <%= image_tag("http://www.onixseven.com.br/view/images/piubs.png", alt: "PIUBS Logo", height: 200) %>
  </div>
</div>
