<link href="https://fonts.googleapis.com/css?family=Staatliches|Oswald" rel="stylesheet">
<style>
  .error_title {
    font-family: 'Staatliches', cursive;
  }

  .error_title > p {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 2rem;
  }

  small {
    font-size: 1rem;
  }

  .image {
    padding-top: 5rem;
  }
</style>

<div class="row">
  <div class="error_container col-md-8">
    <div class="error_title">
      <h1>Hey!!</h1>
      <br/>
      <h3> Você não está autorizado a acessar essa página! </h3>
      <small>Error code: <%= @_status %></small>
      <br/>
      <p>
        Parece que você tentou acessar algo a que você não possui permissão de acesso. <br/>
        Todos os links acessíveis por você se encontram na barra lateral à esquerda dessa mensagem. <br/><br/>
        Se você acha que essa mensagem é um engano, por favor, contate o administrador do sistema, <br/>
        para que o problema possa ser resolvido!
      </p>
    </div>
  </div>
  <div class="image col-md-4">
    <%= image_tag("http://www.onixseven.com.br/view/images/piubs.png", alt: "PIUBS Logo", height: 200) %>
  </div>
</div>
