<link href="https://fonts.googleapis.com/css?family=Staatliches|Oswald" rel="stylesheet">
<style>
  .error_title {
    font-family: 'Staatliches', cursive;
  }

  .error_title > p {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 2rem;
  }

  small {
    font-size: 1rem;
  }

  .image {
    padding-top: 5rem;
  }
</style>

<div class="row">
  <div class="error_container col-md-8">
    <div class="error_title">
      <h1>Oh-hoo!!</h1>
      <br/>
      <h3> Nos desculpe, algo deu errado! </h3>
      <small>Error code: <%= @_status %></small>
      <br/>
      <p>
        Algo de errado aconteceu, mas, não se preocupe, a culpa foi nossa :( <br/>
        Caso você não tenha recebido uma notificação de que esse erro poderia acontecer, <br/>
        por favor, nos notifique, assim poderemos tentar corrigir o problema o mais cedo possível. <br/><br/>
        Tente acessar essa página mais tarde, provavelmente, já teremos consertado o problema.
      </p>
    </div>
  </div>
  <div class="image col-md-4">
    <%= image_tag("http://www.onixseven.com.br/view/images/piubs.png", alt: "PIUBS Logo", height: 200) %>
  </div>
</div>
