// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.file_div {
  display: inline-block;
  max-width: 75px;
  text-align: center;
}

.file_icon {
  height: 55px;
  width: 55px;
  margin: 10px;
  transform: scale(1);
  transition: transform 0.075s ease-in-out;

  &:hover {
    transform: scale(1.1);
    transition: transform 0.075s ease-in-out;
  }
}

.file_subtitle {
  text-decoration: none !important;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}

.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
// keywords

.bootstrap-tagsinput {
  width: 100%;
}

.label-info {
  background-color: #6dc8bf;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
// Accordion

.accordion-faq {
  button {
    color: black;

    &:hover {
      color: black;
    }
  }

  h5 {
    margin: 0;
  }

  .card-header {
    padding: 1em !important;
    display: grid !important;
    grid-template-columns: 60% 12% 22%;
    grid-column-gap: 10px;
    grid-template-rows: 40% 3rem;
    justify-content: space-between;
    align-items: center;
    overflow-wrap: break-word;
    grid-template-areas: 'question question info' 'tags tags dropdown';
    word-wrap: break-word;
    white-space: pre-line;

    .badge {
      box-shadow: 3px 3px 5px rgba(126, 142, 159, 0.4) !important;
    }

    .question {
      align-items: flex-start;
      grid-area: question;
      text-align: left;
    }

    .tags {
      text-align: left;
      grid-area: tags;
      display: inline;
      white-space: nowrap;

      span {
        display: inline-block;
      }

      .tag {
        margin-right: 2px;
        color: white;
        box-shadow: 3px 3px 5px rgba(126, 142, 159, 0.4) !important;
      }
    }

    .info {
      grid-area: info;
      grid-template-rows: 10% 90%;
      display: grid;
      align-items: baseline;
      text-align: center;

      span {
        font-size: 12px;
        word-wrap: break-word;
        white-space: pre-line;
      }

      .badge {
        padding: 0.6em;
      }
    }

    .dropdown {
      grid-area: dropdown;
      text-align: center;

      i {
        font-size: 3em;
        color: rgba(0, 0, 0, 0.4);
        grid-row-start: 1;
        grid-row-end: 1;
        align-self: flex-start;
        word-wrap: break-word;
        white-space: pre-line;
      }

      button {
        i {
          transform: rotate(180deg);
          transition: transform 250ms ease-in;
        }

        &.collapsed {
          i {
            transform: rotate(0deg);
            transition: transform 250ms ease-in;
          }
        }
      }
    }
  }

  .card-body {
    padding: 0 1.25em !important;

    a {
      margin: 1rem 0;
    }

    hr {
      margin-top: 0;
    }
  }

  .card-severity-low {
    border-left: 4px solid #28a745 !important;
  }

  .card-severity-medium {
    border-left: 4px solid #ffc107 !important;
  }

  .card-severity-high {
    border-left: 4px solid #dc3545 !important;
  }
}