// Place all the styles related to the calls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.btn.btn-oval {
  border-radius: 25px !important;
}

.error {
  padding: 3px;
  color: red;
  border: 1px solid red;
  font-weight : normal;
  margin-top: 2px;
}

.mark-call {
  color: #084B8A;
  font-weight: 500 !important;
}

.dropdown-item {
  cursor: pointer;
  color: #333 !important;

  &:hover {
    color: #000 !important;
  }
}

.btn-file {
  color: black;
  background-color: blue;
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: black;
  cursor: inherit;
  display: block;
}

.input-group {
  margin: 10px auto !important;
}

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}

.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
// keywords
.label-info {
  background-color: #6dc8bf;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.closed-call {
  min-height: 50px;
  padding: 0.5rem;
  background-color: #CCC;
  vertical-align: middle;
  text-align: center;

  p {
    line-height: 1.5rem;
    font-size: 1.0rem;
    font-weight: 800 !important;
    margin-bottom: 0;
  }

  a {
    margin: 1rem 0 0.5rem;
  }
}

.digg_pagination {
  margin-bottom: 1rem;
}

// Accordion
.accordion-calls {
  button {
    color: black;
  }

  button:hover {
    color: black;
  }

  h5 {
    margin: 0;
  }

  .card-header {
    padding: 1.5em 2em !important;
    display: grid !important;
    grid-template-columns: 26% 24% 12% 22%;
    grid-column-gap: 10px;
    grid-template-rows: 40% auto 3rem;
    justify-content: space-between;
    align-items: center;
    overflow-wrap: break-word;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    grid-template-areas: 'question question company city' 'protocol protocol company city' 'info . . dropdown';
    word-wrap: break-word;
    white-space: pre-line;

    .question {
      grid-area: question;
      text-align: left;
    }

    .protocol {
      display: grid;
      align-items: center;
      grid-area: protocol;
      text-align: left;
    }

    .company {
      grid-area: company;
    }

    .city {
      grid-area: city;
    }

    .info {
      display: grid;
      align-items: center;
      text-align: center;
      grid-area: info;

      span {
        align-self: center;
      }

      .badge {
        font-size: 16px;
        box-shadow: 3px 3px 5px rgba(126, 142, 159, 0.4) !important;
      }
    }

    .dropdown {
      grid-area: dropdown;
      text-align: center;

      i {
        font-size: 3em;
        color: rgba(0, 0, 0, 0.4);
        grid-row-start: 1;
        grid-row-end: 1;
        align-self: flex-start;
        word-wrap: break-word;
        white-space: pre-line;
      }

      button {
        i {
          transform: rotate(180deg);
          transition: transform 250ms ease-in;
        }

        &.collapsed {
          i {
            transform: rotate(0deg);
            transition: transform 250ms ease-in;
          }
        }
      }
    }
  }

  .card-body {
    padding: 0 1.25em !important;

    a {
      margin: 1rem 0;
    }

    hr {
      margin-top: 0;
    }
  }

  .card-mine {
    border-left: 4px solid #85CE36;
  }
}

.text_explain {
  width: 100%;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  background-color: #e0e0e0
}
