// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination a, em{
  padding: 0 0.1rem;
  font-style: normal;
  margin: 1px;
}

.pagination a, em ~ a{
  border: 1px solid gray;
}

.previous_page, .next_page, .previous_page_disabled, .next_page_disabled {
    border: 1px solid gray;
}
