// Place all the styles related to the controversies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Accordion
.accordion-controversies {
  button {
    color: black;
  }

  button:hover {
    color: black;
  }

  h5 {
    margin: 0;
  }

  .card-header {
    padding: 1.5em 2em !important;
    display: grid !important;
    grid-template-columns: 26% 24% 12% 22%;
    grid-column-gap: 10px;
    grid-template-rows: 40% auto 3rem;
    justify-content: space-between;
    align-items: center;
    overflow-wrap: break-word;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    grid-template-areas: 'question question company city' 'protocol requirer company city' 'info . . dropdown';
    word-wrap: break-word;
    white-space: pre-line;

    .question {
      grid-area: question;
      text-align: left;
    }

    .protocol {
      display: grid;
      align-items: center;
      grid-area: protocol;
      text-align: left;
    }

    .requirer {
      display: grid;
      align-items: center;
      grid-area: requirer;
      text-align: left;
    }

    .company {
      grid-area: company;
    }

    .city {
      grid-area: city;
    }

    .info {
      display: grid;
      align-items: center;
      text-align: center;
      grid-area: info;

      span {
        align-self: center;
      }

      .badge {
        font-size: 16px;
        box-shadow: 3px 3px 5px rgba(126, 142, 159, 0.4) !important;
      }
    }

    .dropdown {
      grid-area: dropdown;
      text-align: center;

      i {
        font-size: 3em;
        color: rgba(0, 0, 0, 0.4);
        grid-row-start: 1;
        grid-row-end: 1;
        align-self: flex-start;
        word-wrap: break-word;
        white-space: pre-line;
      }

      button {
        i {
          transform: rotate(180deg);
          transition: transform 250ms ease-in;
        }

        &.collapsed {
          i {
            transform: rotate(0deg);
            transition: transform 250ms ease-in;
          }
        }
      }
    }
  }

  .card-body {
    padding: 0 1.25em !important;

    a {
      margin: 1rem 0;
    }

    hr {
      margin-top: 0;
    }
  }

  .card-mine {
    border-left: 4px solid #85CE36;
  }
}
