//btn

.btn {
  border-radius: 0.1rem !important;

  &:hover:disabled {
    color: #050805;
  }
}

.btn.btn-oval {
  border-radius: 25px !important;
}

//form

.form-control.boxed.faq {
  box-shadow: inset -0.5px -0.5px 3px rgba(0, 0, 0, 0.6);
}

.form-control {
  height: 2.2rem;
  border-radius: 0.1rem !important;

  &:focus {
    box-shadow: none;
  }
}

.underlined-danger {
  border: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #CC2222 !important;
}

label.hidden {
  display: none;
}

[type="search"] {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 35px;
  font-size: 16px;
  border: none !important;
  background-color: transparent !important;

  &+label {
    position: absolute;
    top: 10px;
    left: 3px;
    font-size: 16px;
    color: lighten(black, 60%);
    transition: all 0.2s ease-out;
  }

  &:focus {
    outline: none;
    border-radius: 0.1rem !important;
    border-bottom: 1px solid lighten(black, 60%);
    border-width: 2px;
    background-color: white !important;
    transition: all 0.2s ease-out;
  }

  &.has-value+label,
  &:focus+label {
    top: -17px;
    color: lighten(black, 40%);
    font-size: 12px;
  }

  &.has-value {
    background-color: white !important;
  }

  &.has-value:not(:focus)+label {
    color: lighten(black, 60%);
  }
}

li.active>a {
  color: darken(#4f5f6f, 20%) !important;
}

// FORM FOR USERS

td.user {
  vertical-align: middle;
  text-align: center;
}

tr {

  // EVEN
  &:nth-of-type(even) {
    td.user-role {
      .form-control {
        background-color: rgba(0, 0, 0, 0.025) !important;
      }
    }

    &:hover {
      td.user-role {
        .form-control {
          background-color: white !important;
          transition: background-color 0s;
        }
      }
    }
  }

  // ODD
  &:nth-of-type(odd) {
    td.user-role {
      .form-control {
        background-color: white !important;
      }
    }
  }
}

.title-block {
  padding-bottom: 0;
  margin-bottom: 0.8rem;
}

.create-new {
  display: inline-block;
  padding-top: 1rem;
}

hr.under-header {
  margin-top: 8em;
  margin-bottom: 2em;
}

// PAGINATION \\

.page-item.disabled .page-link {
  color: #abb1b7 !important;
}

//TABLES

table.table {
  margin-top: 1rem;
}

//DISPLAY

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

//FORM

.modal-body {
  .form-control {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);

    &:active {
      box-shadow: inherit !important;
    }
  }
}

// FORM ERRORS

#error_explanation {
  border: 2px solid rgba(120, 120, 120, 0.1);
  min-height: 50px;
  background-color: #e0e0e0;
  width: 100%;

  h2 {
    background-color: inherit;
    color: red;
  }

  ul {
    list-style: none !important;
  }

  li {
    list-style-type: none !important;
  }
}

label {
  margin-bottom: 0;
}

.field_with_errors {
  background-color: inherit;

  label {
    color: red;
  }

  input {
    border: 2px solid red !important;
  }
}

// Reply borders
.call-border {
  border-left: 5px solid #6DC8BF !important;
}

.ubs-border {
  border-left: 5px solid #FFC107 !important;
}

.city-border {
  border-left: 5px solid #FE974B !important;
}

.company-border {
  border-left: 5px solid #28A745 !important;
}


// -------- Controversies

.description {
  font-size: .9rem;
}

//user-reference
.controversy-user-reference {

  font-size: .85rem;

  b {
    font-size: 1rem;
  }

  .badge {
    font-size: 85%;
  }

  .input-group {
    margin: 0 !important;
  }

  .no-border {
    border: 0;
  }
}

// Checkboxes

/* The customcheck */
.customcheck {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* On mouse-over, add a grey background color */
  &:hover input~.checkmark {
    background-color: #ddd;
  }

  /* When the checkbox is checked, add a blue background */
  input:checked~.checkmark {
    background-color: #2d363f;
    border-radius: 5px;
  }

  /* Show the checkmark when checked */
  input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkmark:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #2d363f;

  /* Create the checkmark/indicator (hidden when not checked) */
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

// Controversies autocomplete

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  max-height: 150px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  overflow-y: scroll;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item>a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
  }

  .ui-menu-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-image: none;
  }
}

.ui-widget-content .ui-state-focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background-image: none;
}
