.user-email,
.user-name {
  font-size: 1rem;
  color: black;

  a:visited {
    color: black;
  }
}

.user-role {
  text-align: center;

  a:visited {
    color: white;
  }
}

.amail {
  &:hover {
    color: black;
    text-decoration: none;
  }
}