<div class="sidebar-container">
  <div class="sidebar-header">
    <div class="brand">
      <h2 class="auth-title mt-2">
      <%= image_tag("icons/logo.png", :alt => "Apoio à empresa") %>
        PIUBS </h2>
  </div>

  <nav class="menu">
    <ul class="sidebar-menu metismenu" id="sidebar-menu">
      <%= render 'layouts/sidebar_links_for_auth' %>
    </ul>
  </nav>
</div>
<footer class="sidebar-footer">
  <ul class="sidebar-menu metismenu" id="customize-menu">
    <li>
      <a href="#">
        <i class="fa fa-cog"></i> Write something here </a>
    </li>
  </ul>
</footer>
