<div style="text-align: center;background-color: #FFFFFF; width: 80%; box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.2); padding:1rem 1rem; margin: 2.5rem auto">
  <div style="width: 100%; height: 4rem; background-color: #444444; vertical-align: middle; border-top:1rem; margin-bottom: 1rem">
    <h1 style="font-size: 3rem;color: #ffffff;">PIUBS</h1>
  </div>

  <p>
    <span style="font-size: 2rem">Olá,
      <b style="color: #007bff"><%= @resource.name %>!</b>
    </span>
  </p>

  <p>
    Alguém solicitou um link para alteração da sua senha de acesso ao PIUBS. Você pode realizar isso através do link abaixo.
  </p>

  <p>
    <%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %>
  </p>

  <p>
    Se você não solicitou essa alteração, por favor ignore esse email.</p>
  <p>
    Sua senha não será alterada até você acessar o link acima e criar uma nova.</p>

</div>